{% extends 'base.html' %}

{% block content %}
<script>
    if (!localStorage.getItem('user')) {
        window.location = "/"
    }
</script>
<div id="big-dimmer"></div>
<div id="error-dimmer" class="hidden">
    <h1>Error!</h1>
    <p id="error"></p>
    <a id="logout">Logout</a>
</div>
<div id="chat">
    <header>
        <div class="left">
            <button id="exit" type="button" @click="exit" class="back"><i class="material-icons">exit_to_app</i></button>
            <h4>Chats</h4>
        </div>
        <div class="right"><button type="button"><i class="material-icons">more_vert</i></button></div>
    </header>
    <div class="wrpr"></div>
    <div class="main-chat">
        <div class="chat-list">
            <div id="new-chat" onclick="$('#newChatDialog').modal('show')">
                <i class="material-icons mr-2">add</i><span>Create new</span>
            </div>
            <a class="one-chat" v-for="chat in chats" :href="`/chat/${chat.dialog_id}`">
                <img src="https://www.transparentpng.com/thumb/flight-attendant/flight-attendant-user-icons-png-6.png" alt="">
                <span v-text="chat.name"></span>
            </a>
        </div>
        <div class="chat">
            <div class="center">Choose chat</div>

        </div>
    </div>
    <div class="modal fade" id="newChatDialog" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create chat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="chatName">Chat name</label>
                    <div class="login-input">
                        <input v-model="chatName" type="text" class="w-100" id="chatName" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label>Add users</label>
                    <div class="login-input">
                        <input @change="a" v-model="users" id="chatUsers" type="text" class="w-100" autocomplete="off">
                    </div>
                    <small @click="a">Use ',' (comma) or ', ' (comma + space) as separator</small>
                    <small style="display: block;" v-if="error" class="text-danger">Unknown user "<span v-text="error">"</span></small>
                    <input v-if="sa != ''" readonly class="input-hide w-100" v-model="sa">
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="$('#newChatDialog').modal('hide')" class="b b-tr">Cancel</button>
                <button @click="newChat" class="b b-pr">Create</button>
            </div>
            </div>
        </div>
    </div>
</div>
<script>
var app = new Vue({
  el: '#chat',
  data: () => ({
    chats: null,
    chatName: "",
    users: "",
    sa: "",
    error: ''
  }),
  methods: {
      newChat: () => {
        $.ajax({
            method: "POST",
            url: `/api/chats?uid=${localStorage.getItem('user')}`,
            data: JSON.stringify({
                name: app.chatName,
                users_logins: app.users.split(/ +/).join("").split(",")
            }),
            headers: {'Content-Type': "application/json"},
            success: (r) => {
                app.$set(app.$data, 'error', "");
                $('#newChatDialog').modal('hide');
                app.getChats();
            },
            error: (r) => {
                app.$set(app.$data, 'error', r.responseJSON.login);
                app.getChats();
            }
        })
      },
      getChats: () => {
        $.get("/api/chats", {
            "uid": localStorage.getItem('user')
        }).then((r) => {
            app.$set(app.$data, 'chats', r.chats);
        })
      },
      exit: () => {
        localStorage.removeItem("user");
        dimm('/');
      },
      a () {
        this.sa = "Users: \"" + this.users.split(/ +/).join("").split(",").join("\", \"") + "\"";
      }
  }
})

app.getChats();

const activate = (e) => {e.target.parentNode.classList.add("active")}
const deactivate = (e) => {e.target.parentNode.classList.remove("active")}

$("#chatName").focus(activate);
$("#chatName").blur(deactivate);
$("#chatUsers").focus(activate);
$("#chatUsers").blur(deactivate);

const dimm = (loc) => {
    var size = 0;
    var acc = 70;
    var bd = setInterval(() => {
        $("#big-dimmer").css("clip-path",`circle(${size}px at 3rem 2rem)`);
        size += acc;
        acc += 10;
        if (size > window.innerHeight*2) {
            clearInterval(bd);
            window.location = loc
        }
    }, 50)
}
const checkall = () => {
    if (email && password) {
        $("#send").removeClass("disabled");
    } else {
        $("#send").addClass("disabled");
    }
}
$("#big-dimmer").css("clip-path",`circle(0px at 3rem 2rem)`);
</script>
{% endblock %}