{% extends 'base.html' %}

{% block content %}
<script>
    if (localStorage.getItem('user')) {
        window.location = "/chats"
    }
</script>
<div id="big-dimmer"></div>
<div class="allcenter">
    <div class="login-form">
        <div class="form-group">
            <label for="login">Login</label>
            <div class="login-input">
                <input type="text" id="login" autocomplete="nickname">
            </div>
            <small class="text-danger hidden">It's not looks like email</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="login-input">
                <input type="password" id="password" autocomplete="current-password">
            </div>
            <small class="text-danger hidden">It's empty!</small>
        </div>
        <div class="form-group">
            <button type="button" id="send" class="b b-pr disabled"><img src="/icon.png" class="feather"><span>Log in</span></button>
        </div>
    </div>
</div>
<script>
    const x = (window.innerWidth / 2)
    const y = window.innerHeight
    const dimm = (loc) => {
        var size = 0;
        var acc = 70;
        var bd = setInterval(() => {
            $("#big-dimmer").css("clip-path",`circle(${size}px at ${x}px ${y}px)`);
            size += acc;
            acc += 10;
            if (size > window.innerHeight*2) {
                clearInterval(bd);
                window.location = loc
            }
        }, 50)
    }
    const activate = (e) => {e.target.parentNode.classList.add("active")}
    const deactivate = (e) => {e.target.parentNode.classList.remove("active")}
    const checkall = () => {
        if (email && password) {
            $("#send").removeClass("disabled");
        } else {
            $("#send").addClass("disabled");
        }
    }
    $("#big-dimmer").css("clip-path",`circle(0px at ${x}px ${y}px)`);
    $("#login").focus(activate);
    $("#password").focus(activate);
    $("#login").blur(deactivate);
    $("#password").blur(deactivate);

    var login = false;
    var password = false;
    $("#login").keyup((e) => {
        if (e.target.value.length) {
            e.target.parentNode.parentNode.getElementsByTagName("small")[0].classList.add("hidden");
            login = true;
        } else {
            e.target.parentNode.parentNode.getElementsByTagName("small")[0].classList.remove("hidden");
            login = false;
        }
        checkall();
    })
    $("#password").keyup((e) => {
        if (e.target.value.length) {
            e.target.parentNode.parentNode.getElementsByTagName("small")[0].classList.add("hidden");
            password = true;
        } else {
            e.target.parentNode.parentNode.getElementsByTagName("small")[0].classList.remove("hidden");
            password = false;
        }
        checkall();
    })
    $("#send").click((e)=> {
        $("#send").addClass("loading");
        $("#send").addClass("disabled");
        $.post("/api/auth", {
            "login":$("#login")[0].value,
            "password":$("#password")[0].value,
        }).then(data => {
            if (data.status == "OK") {
                localStorage.setItem("user", data.uid);
                dimm("/chats")
            } else {
                $("#error").html("Произошла ошибка.<br>Возможно занят ваш никнейм или такая почта уже использовалась");
                $("#send").removeClass("loading");
                $("#send").removeClass("disabled");
                $("#error").removeClass("hidden");
            }
        }).catch(e => {
            if (e.status == 500) {
                $("#error").html("Произошла ошибка на сервере. Попробуйте ещё раз через некоторое количество времени");
            } else {
                $("#error").html("Произошла ошибка.<br>Возможно занят ваш никнейм или такая почта уже использовалась");
            }
            $("#send").removeClass("loading");
            $("#send").removeClass("disabled");
            $("#error").removeClass("hidden");
        });
    });
</script>
{% endblock %}